*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

html,
body {
  height: 100%;
  scroll-behavior:smooth;
}

body {
  background: var(--background-page);
  color: var(--text-primary);
  font-family: Inter, Arial, sans-serif;

  &.no-scroll {
    overflow: hidden;
  }
}

.wrapper {
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 767px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}