@mixin heading {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;

  @media (max-width: 767px) {
    font-size: 42px;
    line-height: 115%;
  }
}

@mixin heading-accent {
  @include heading;
  font-style: italic;
}

@mixin heading-secondary {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 125%;
  }
}

@mixin heading-secondary-accent {
  @include heading-secondary;
  font-style: italic;
}

@mixin heading-tertiary {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

@mixin medium {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

@mixin caption {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

@mixin link {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

@mixin burger-link {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}